<div id="survey_header">
    <h2 id="survey_name"><%= @survey.name %></h2>
    <h3 style="float:right; padding: 20px 10px 8px;color: #fff;"><% if current_user %>Hello, <%= current_user.username %><% else %>This<% end %> - - <a href="/logout"> Logout</a>
</h3>
  </div>

<div id="survey_view">
  <% @questions.each do |question| %>
      <h3 id="question_name"><%= question.body %></h3>
      <table border="1" id="question">
        <tr>
          <td>Option</td>
          <td>Count</td>
        </tr>
        <% question.choices.each do |choice| %>
        <tr>
          <td><%= choice.body %></td>
          <td><%= choice.count %></td>
        </tr>
        <% end %>  
      </table>
  <% end %>
</div>
