<div id="user_nav">
  <div class="surveys">
    <h1><%= @user.username %>'s Surveys</h1>
    <ul>
      <% @surveys.each do |survey| %>
      <li><a href=<%= "/survey/#{survey.id}" %>><%= survey.name %></a></li>
      <% end %>
    </ul>
  </div>

  <div>
    <!-- link to create a newsurvey -->
  </div>

  <div>
    <h1>Surveys <%= @user.username %> Has Taken</h1>
    <ul>
      <% @taken_surveys.each do |survey| %>
      <li><a href=<%= "/survey/#{survey.id}" %>><%= survey.name %></a></li>
      <% end %>
    </ul>
  </div>
</div>

<div id="black">
  <p><a href="/survey/new">Create New Survey</a></p>
  <p><a href="/logout">Logout</p>
</div>
